{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de citas y Especialidades</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body class="page-body">

    <div class="layout-container">
       
        <aside class="menu-lateral">
            <div class="">
                <img src="{% static 'images/logo xd.png' %}" alt="Clínica Médica" class="logo-img">
                <nav class="menu">
                    <a href="#" class="opcion"> <span>⌂</span> Dashboard</a>
                    <a href="#" class="opcion"> <span>♟</span> Pacientes</a>
                    <a href="#" class="opcion activa"> <span>▣</span> Citas</a>
                    <a href="#" class="opcion"> <span>▤</span> Pagos</a>
                    <a href="#" class="opcion"> <span>▧</span> Recibos</a>
                    <a href="#" class="opcion"> <span>▥</span> Reportes</a>
                    <a href="#" class="opcion"> <span>⚙</span> Configuración</a>
                </nav>    

            </div>
            <a href="#" class="cerrar">↪ Cerrar sesión</a>
        </aside>

     
        <main class="main-content">
            
            <header class="main-header">

                <h1 class="header-title">Gestión de citas.</h1>

                <div class="header-actions">
                    <button class="notification-btn">
                        <i class="fa-regular fa-bell"></i>
                        <span class="notification-badge"></span>
                    </button>
                    <img src="" alt="Usuario" class="user-avatar">
                </div>
            </header>

            <section class="card-grid">
                <a href="" class="shortcut-card">
                    <img src="{% static 'images/registro_citas.png' %}" alt="Icono_de_citas">
                    <span class="card-text">Registrar Citas</span>
                </a>

                <a href="" class="shortcut-card">
                    <img src="{% static 'images/Agenda_imagen.png' %}" alt="Icono_de_agenda">
                    <span class="card-text">Consultar Agenda</span>
                </a>
            </section>
           
            <section class="table-container">
                <div class="table-header">
                    <h2 class="table-title">Citas Recientes</h2>
                </div>

                <div class="table-wrapper">
                    <table class="data-table">
                        <thead>
                            <tr class="table-head-row">
                                <th class="table-th">ID</th>
                                <th class="table-th">Paciente</th>
                                <th class="table-th">Doctor</th>
                                <th class="table-th">Especialidades</th>
                                <th class="table-th">Fecha</th>
                                <th class="table-th">Hora</th>
                                <th class="table-th">Estado</th>
                                <th class="table-th th-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                           
                            <tr class="table-row">
                                <td class="table-td td-muted">h</td>
                                <td class="table-td td-highlight">h</td>
                                <td class="table-td td-muted">h</td>
                                <td class="table-td td-muted">h</td>
                                <td class="table-td td-muted">h</td>
                                <td class="table-td td-muted">h</td>
                                <td class="table-td">
                                    
                                        <!-- <span class="status-badge status-confirmada">Confirmada</span>
                                    
                                        <span class="status-badge status-pendiente">Pendiente</span>
                                    
                                        <span class="status-badge status-reprogramada">Reprogramada</span>
                                    
                                        <span class="status-badge status-cancelada">Cancelada</span> -->
                                    
                                </td>
                                <td class="table-td td-center">
                                    <button class="action-btn">:</button>
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="8" class="table-td-empty">No hay citas registradas.</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <div class="table-footer">
                    <a href="" class="link-view-all">Ver mas.</a>
                </div>
            </section>
        </main>
    </div>

</body>
</html>